.about__container {
  grid-template-columns: 1fr 3fr;
  column-gap: 1.875rem;
}

.about__video {
  margin: 0 auto;
}
.about__video iframe {
  border-radius: var(--border-radius);
  padding: 4px;
  width: 100%;
  height: 35.5vw;
}

.about__data {
  padding: 1.875rem;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.875rem;
  align-items: flex-start;
  position: relative;
}

.about__data::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 15px solid var(--container-color);
  position: absolute;
  left: -0.93rem;
  top: 20%;
}

.about__description {
  margin-bottom: 1rem;
  text-align: justify;
}

.about__skills {
  row-gap: 1.25rem;
}

.skills__titles {
  display: flex;
  justify-content: space-between;
}

.skills__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.skills__number {
  line-height: 1.2;
}

.skills__bar,
.skills__percentage {
  height: 7px;
  border-radius: 0.25rem;
}

.skills__bar {
  background-color: #f1f1f1;
}

.skills__percentage {
  display: block;
}

.development {
  width: 90%;
  background-color: var(--hover-color);
}

.ui__design {
  width: 80%;
  background-color: var(--hover-color);
}

.management {
  width: 90%;
  background-color: var(--hover-color);
}

.polish {
  width: 50%;
  background-color: var(--first-color);
}

.english {
  width: 80%;
  background-color: var(--first-color);
}

.ukrainian {
  width: 100%;
  background-color: var(--first-color);
}

.russian {
  width: 100%;
  background-color: var(--first-color);
}

.about__boxes {
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.875rem;
  margin-top: 4.35rem;
}

.about__box {
  display: flex;
  column-gap: 1.5rem;
}

.about__icon {
  font-size: var(--h1-font-size);
  color: red;
}

.about__title {
  font-size: 1.875rem;
}

@media screen and (max-width: 600px) {
  .about__container {
    grid-template-columns: 1fr;
  }

  .about__video iframe {
    width: 100%;
  }

  .about__data::before {
    display: none;
  }

  .about__data {
    grid-template-columns: repeat(1, 1fr);
  }

  .about__skills {
    padding: 30px 0;
  }

  .about__boxes {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0;
    margin-top: none;
  }

  .about__box {
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 10px;
  }
}
