.aside {
  position: fixed;
  border-radius: 0 !important;
  left: 0;
  top: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  padding: 1rem;
  width: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 0;
}

.nav__link {
  font-size: 1rem;
  color: var(--title-color);
  font-weight: var(--font-bold);
  transition: 0.3s;
}

.nav__link:hover {
  color: var(--hover-color);
}

.copyright {
  color: var(--title-color);
  font-size: var(--small-font-size);
  transform: rotate(180deg);
  writing-mode: vertical-rl;
}

.nav__logo {
  width: 100% !important;
}

@media screen and (max-width: 600px) {
  .aside {
    padding: 1rem;
    width: 50px;
    min-width: none;
  }
}
